<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoCamp Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    {% include 'header.html' %}
    

    <main>
        <section id="accueil" class="page-section">
            <div class="welcome-header">
                <h1>Bienvenue sur votre espace EcoCamp</h1>
                <p>Veuillez sélectionner une rubrique pour commencer</p>
            </div>

            <div class="main-grid">
                <a href="{{ url_for('sejours') }}" class="menu-card-link">
                    <div class="menu-card">
                        <div class="icon-box blue">📅</div>
                        <h3>Séjours</h3>
                        <p>Calendrier</p>
                    </div>
                </a>

                <a href="{{ url_for('quotas') }}" class="menu-card-link">
                    <div class="menu-card">
                        <div class="icon-box yellow">⚖️</div>
                        <h3>Quotas</h3>
                        <p>Limites eau et électricité</p>
                    </div>
                </a>

                <a href="{{ url_for('consommations') }}" class="menu-card-link">
                    <div class="menu-card">
                        <div class="icon-box green">📊</div>
                        <h3>Consommations</h3>
                        <p>Analyses et graphiques</p>
                    </div>
                </a>

                <a href="{{ url_for('messages') }}" class="menu-card-link">
                    <div class="menu-card">
                        <div class="icon-box red">✉️</div>
                        <h3>Messages</h3>
                        <p>Communication résidents</p>
                    </div>
                </a>
            </div>
        </section>


    </main>
        {% include 'footer.html' %}
</body>

</html>