<header>
    <div class="nav-container">
        <div class="brand">
            <span class="flower-icon">✿</span>
            <div class="brand-text">flower <span>campings</span></div>
        </div>
        <nav>
            <a href="/index" class="nav-item">Accueil</a>
            <a href="/sejours" class="nav-item">Séjours</a>
            <a href="/quotas" class="nav-item">Quotas</a>
            <a href="/consommations" class="nav-item">Consommations</a>
            <a href="/messages" class="nav-item">Messages</a>
            <a href="/deconnexion" class="nav-item">Déconnexion</a>
        </nav>
    </div>
</header>